<!DOCTYPE html>
<html>
    <head>
    <title>Job-Opening</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>Your title: @Model.Title </p>
    <p>Job Description: @Model.Description</p>
    <p>My Contact-Info: @Model.ContactInfo</p>
  </body>
</html>