  
<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Parcels</h1>
    <p>Fill out the following dimensions</p>
    <form class="jumbotron" action="/second" method="post">

     <label for="title">Enter the title of job:</label>
     <input id="title" name="title" type="text">

     <label for="description">Enter the description of job:</label>
     <input id="description" name="description" type="text">

     <label for="contactInfo">Enter your contact info:</label>
     <input id="contactInfo" name="contactInfo" type="text">

     <button type="submit">Submit</button>
    </form>
  </body>
</html>
